module.exports = {
    database: {
        host: "localhost",
        port: 28015,
        db: "photobooth"
    },
    port: 8000,
    twitter: {
        consumerKey: '',
        consumerSecret: '',
        accessToken: '',
        accessSecret: '',
        callback: '',
    }
};
