body {
    background: #2A363B;
    color: white;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

/* Camera */
.camera-body {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    padding: 20px 20px 0 20px ;
}

.camera {
    position: relative;
    z-index: 1;
}

.camera .snapshot {
    position: absolute;
    top: 0;
    left: 0;
}

/* Camera controls */
.camera-conrols {
    z-index: 0;
}
.live-controls, .snapshot-controls {
    margin-left: -325px;
    width: 300px;
    visibility: hidden;
    -moz-transition: margin-left 0.2s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    -webkit-transition: margin-left 0.2s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    transition: margin-left 0.2s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
.camera-controls button {
    position: relative;
    width: 100%;
    height: 80px;
    margin: 10px;
    padding: 10px 20px 10px 40px;

    background-color: #E84A5F;
    color: white;
    border: none;
    border-radius: 7px;
    outline: none;
    box-shadow: 0 5px #A52637;

    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);

    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.camera-controls button:before {
    position: absolute;
    left: 0;
    width: 34%;

    font-family: 'icomoon';
    font-size: 125%;
    line-height: 1.1;
    text-transform: none;
    color: white;
    -webkit-font-smoothing: antialiased;
}

.camera-controls button.snap-photo:before { content: "\e900"; }
.camera-controls button.new-photo:before { content: "\e903"; }
.camera-controls button.new-photo.btn-activated  {
    -webkit-animation: fadeOutText 0.5s;
    -moz-animation: fadeOutText 0.5s;
    animation: fadeOutText 0.5s;
}
.camera-controls button.new-photo.btn-activated:before  {
    -webkit-animation: moveToRight 0.5s;
    -moz-animation: moveToRight 0.5s;
    animation: moveToRight 0.5s;
}
.camera-controls button.tweet-photo:before { content: "\e905"; }
.camera-controls button.tweet-photo.btn-activated  {
    -webkit-animation: fadeOutText 0.5s;
    -moz-animation: fadeOutText 0.5s;
    animation: fadeOutText 0.5s;
}
.camera-controls button.tweet-photo.btn-activated:before  {
    -webkit-animation: moveToRight 0.5s;
    -moz-animation: moveToRight 0.5s;
    animation: moveToRight 0.5s;
}

.camera-controls button:first-child { margin-top: 0; }

/* Filmstrip */
.recent-photos {
    background: #56727D;
    margin-top: 20px;
    padding: 15px 20px;
}
.recent-photos h1 {
    font-size: 16px;
    font-weight: normal;
    text-transform: uppercase;
    margin-top: 0;
}
.filmstrip {
    overflow-x: scroll;
    height: 150px;
    white-space: nowrap;
}
.photo {
    display: inline-block;
    height: 150px;
}

/* Animation keyframes */
@-webkit-keyframes fadeOutText {
    0% { color: transparent; }
    80% { color: transparent; }
    100% { color: #fff; }
}

@-moz-keyframes fadeOutText {
    0% { color: transparent; }
    80% { color: transparent; }
    100% { color: #fff; }
}

@keyframes fadeOutText {
    0% { color: transparent; }
    80% { color: transparent; }
    100% { color: #fff; }
}

@-webkit-keyframes moveToRight {
    80% { -webkit-transform: translateX(250%); }
    81% { opacity: 1; -webkit-transform: translateX(250%); }
    82% { opacity: 0; -webkit-transform: translateX(250%); }
    83% { opacity: 0; -webkit-transform: translateX(-50%); }
    84% { opacity: 1; -webkit-transform: translateX(-50%);  }
    100% { -webkit-transform: translateX(0%); }
}

@-moz-keyframes moveToRight {
    80% { -moz-transform: translateX(250%); }
    81% { opacity: 1; -moz-transform: translateX(250%); }
    82% { opacity: 0; -moz-transform: translateX(250%); }
    83% { opacity: 0; -moz-transform: translateX(-50%); }
    84% { opacity: 1; -moz-transform: translateX(-50%);  }
    100% { -moz-transform: translateX(0%); }
}

@keyframes moveToRight {
    80% { transform: translateX(250%); }
    81% { opacity: 1; transform: translateX(250%); }
    82% { opacity: 0; transform: translateX(250%); }
    83% { opacity: 0; transform: translateX(-50%); }
    84% { opacity: 1; transform: translateX(-50%);  }
    100% { transform: translateX(0%); }
}
